/* Space out content a bit */
body {
  padding-top: 10px;
  padding-bottom: 20px;
}


#main-player {
  float: right;
}

#spelling .letter {
  text-transform: uppercase;
}

#spelling .letter,
#spelling .word {
  padding-top: 11px;
}

#spelling .letter {
  padding-left: 20px;
}

#spelling .word {
  width: 87%;
}

#letter-player {
  float: right;
  margin-right: 5px;
}

button.simple-player.stop i.play,
button.simple-player.play i.stop {
  display: none;
}

#main-player button.pause i.play,
#main-player button.play i.pause {
  display: none;
}

.input-container,
.main-player-container {
  padding-right: 0px;
  padding-left: 0px;
}

.panel-heading {
  padding-right: 9px;
}

#container {
  max-width: 768px;
}

#dictionary-chooser-btn {
  min-width: 79px;
}
