<!doctype html>
<html lang="en">
  <head>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65408528-1', 'auto');
      ga('send', 'pageview');

    </script>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LetterSpeller</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body>
    <div id="container" class="container">
      <div class="header">
        <h3 class="text-muted">LetterSpeller</h3>
      </div>

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <div class="col-xs-8">
            <input class="form-control" id="input"
                placeholder="Type to spell..." value="Hello World!">
          </div>
          <div class="col-xs-4">
            <div id="main-player" style="display: none" class="btn-group">
              <button class="btn btn-default stop">
                <i class="stop glyphicon glyphicon-stop"></i>
              </button>
              <button class="btn btn-default play">
                <i class="play glyphicon glyphicon-play"></i>
                <i class="pause glyphicon glyphicon-pause"></i>
              </button>
              <div class="btn-group" role="group">
                <button id="dictionary-chooser-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <span class="caret"></span>
                </button>
                <ul id="dictionary-chooser" class="dropdown-menu" role="menu">
                </ul>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

        <table class="table">
          <tbody id="spelling"></tbody>
        </table>
      </div>

      <div class="footer col-xs-10">
        <p></p>
      </div>
    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/lodash/lodash.js"></script>
    <script src="/bower_components/eventemitter2/lib/eventemitter2.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/app.js -->
    <script src="scripts/dictionary.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

    <script id="spelling-template" type="text/template">
      <tr>
        <th class="letter"><%= letter %></span>
        <td class="word"><%= word %></td>
        <td>
          <button class="btn btn-default btn-sm simple-player play" data-index="<%= index %>">
            <i class="play glyphicon glyphicon-play"></i>
            <i class="stop glyphicon glyphicon-stop"></i>
          </button>
        </td>
      </tr>
    </script>

    <script id="dropdown-item-template" type="text/template">
      <li><a href data-value="<%= value %>"><%= label %></a></li>
    </script>
  </body>
</html>
